<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>Call Now  <i class="fa fa-phone"></i>  929-229-2918</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            <li><div class="button-box"><a routerLink="/login" class="default-btn-white">Login</a></div></li>
                            <li><div class="button-box"><a routerLink="/signup" class="default-btn-red">&nbsp;&nbsp;Register</a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo logo2">
                        <a href="../"><object data="/assets/img/logo/red/out/taolingo_white.svg"  type="image/svg+xml" class="logo logo2" alt="Tao Lingo">
                            <img src="/assets/img/logo/red/out/taolingo_white@2x.png" />
                        </object></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a routerLink="/teachers">Teachers</a></li>
                                    <li><a routerLink="/method">Method</a></li>
                                    <li><a routerLink="/courses">Courses</a></li>
                                    <li><a routerLink="/step">How to Start</a></li>
                                    <li><a routerLink="/about">About</a></li>
                                    <li><a routerLink="/journal">Journal</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Search Form Start-->
                        <div class="search-btn">
                            <ul data-toggle="dropdown" class="header-search search-toggle">
                                <li class="search-menu">
                                    <i class="fa fa-weixin"></i>
                                </li>
                            </ul>
                            <div class="search">
                                <div class="search-form">
                                    <img src="/assets/img/qrcode_tli.jpg">                          
                                </div>
                            </div>
                        </div>	
                        <!--End of Search Form-->
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div> 
                </div>
            </div>
        </div>
    </div>
</header>
