<footer class="footer-area">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-widget pr-60">
            <div class="footer-logo pb-25">
              <a href="../"><object data="/assets/img/logo/red/out/taolingo_white.svg" type="image/svg+xml"
                  class="logo logo2" alt="Tao Lingo">
                  <img src="/assets/img/logo/red/out/taolingo_white@2x.png" />
                </object></a>
            </div>
            <p>Learn the lingo with our revolutionary langauge training program fun for all ages. Speak like a native as
              you progress through English literacy. Powered by <a href="https://taolearning.org" target="_blank">Tao
                Learning</a>, a 501c3 Non-Profit. </p>
            <div class="footer-social">
              <ul>
                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a>
                </li>
                <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-widget">
            <h3>information</h3>
            <ul>
              <li><a href="#">addmission</a></li>
              <li><a href="#">Academic Calender</a></li>
              <li><a routerLink="/event">Event List</a></li>
              <li><a href="#">Hostel &amp; Dinning</a></li>
              <li><a href="#">TimeTable</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-widget">
            <h3>useful links</h3>
            <ul>
              <li><a routerLink="/courses">our courses</a></li>
              <li><a routerLink="/about">about us</a></li>
              <li><a routerLink="/teachers">teachers &amp; faculty</a></li>
              <li><a href="#">teams &amp; conditions</a></li>
              <li><a routerLink="/event">our events</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-widget">
            <h3>get in touch</h3>
            <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
            <p><i class="fa fa-phone"></i> 929-229-2918 China<br><i class="fa fa-phone"></i> 852 3008 2393 HK</p>
            <p>info@taolingo.com<br><a href="https://www.taolingo.com">www.taolingo.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright © <a href="https://taofruit.com/" target="_blank">Tao Fruit</a> 2019. All Right Reserved By Tao
            Fruit.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
