    <div ng-app="formApp" ng-controller="formCtrl" ng-cloak>
        <form name="multiStepForm" class="form-validation course-form" role="form" novalidate>
        <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
            <div class="animate-switch" ng-switch-default>
            <div class="row">
                <div class="col-md-12">
                        <h3 class="text-center">COURSE SIGN UP</h3>
                        <p class="text-center">Step 1 of 2</p>
                    <ul>
                        <li>Students <span><select id="students" name="students"
                            onchange="coursecalc()" class="text-center" class="course-form">
                            <option value="1" selected="selected">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                            <option value="10">Ten</option>
                            <option value="20">Twenty</option>
                            <option value="50">Fifty</option>
                            </select>
                        </span></li>
                        <li>Duration <span><select id="months" class="course-form" name="months"
                            onchange="coursecalc()">
                            <option value="1">1 Month</option>
                            <option value="6">1 Semester</option>
                            <option value="12" selected="selected">1 Year</option>
                            <option value="24">2 Years</option>
                            <option value="48">4 Years</option>
                            </select></span></li>
                        <li>Lessons <span><select id="lessons" class="course-form" name="lessons"
                            onchange="coursecalc()">
                            <option value="0">None</option>
                            <option value="1">1 Per Week</option>
                            <option value="2">2 Per Week</option>
                            <option value="3" selected="selected">3 Per Week</option>
                            <option value="4">4 Per Week</option>
                            <option value="5">5 Per Week</option>
                            <option value="6">6 Per Week</option>
                            <option value="7">7 Per Week</option>
                            <option value="8">8 Per Week</option>
                            <option value="9">9 Per Week</option>
                            <option value="10">10 Per Week</option>
                            </select></span></li>
                        <li>Course <span><select id="level" class="course-form" name="level"
                            onchange="coursecalc()">
                            <option value="Beginner" selected="selected">Beginner</option>
                            <option value="Social">Social</option>
                            <option value="Business">Business</option>
                            </select></span></li>
                        <li>Monthly Price <span><div id="monthlyPlanTotal">$2033</div></span></li>
                        <li>Total Price <span><div id="priceTotal">$20326</div></span></li>
                    </ul>
                    <div class="text-center">
                        <button type="button" class="btn default-btn" ng-click="next('stage1')">Next</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage1">
            <div class="col-md-12">
                    <h3 class="text-center">COURSE SIGN UP</h3>
                    <p class="text-center">Step 2 of 2</p>
                <ul>
                    <li>
                        <input type="text" class="form-control course-form" id="tb-fname" name="fname" ng-maxlength="250" ng-model="formParams.firstName" required ng-class="{'input-error': formValidation && multiStepForm.firstName.$error.required}" placeholder="First Name">
                        <span ng-show="multiStepForm.firstName.$error.maxlength">
                            Limit Reached
                        </span>
                    </li>
                    <li>
                        <input type="text" class="form-control course-form" id="tb-lname" name="lastName" ng-maxlength="250" ng-model="formParams.lastName" ng-class="{'input-error': formValidation && multiStepForm.lastName.$error.required}" required placeholder="Last Name">
                        <span ng-show="multiStepForm.lastName.$error.maxlength">
                            Limit Reached 
                        </span>
                    </li>
                    <li>
                        <input type="email" class="form-control course-form" id="tb-email" name="email" ng-maxlength="100" ng-model="formParams.email" ng-class="{'input-error': formValidation && multiStepForm.email.$error.required}" ng-model-options="{ updateOn: 'blur' }" required placeholder="Email Address">
                        <span ng-show="multiStepForm.email.$error.email">
                        Wrong Format
                        </span>
                        <span ng-show="multiStepForm.email.$error.maxlength">
                        Too Long. Try Again.
                        </span>
                    </li>
                    <li><input type="text" class="form-control course-form" id="tb-tel" name="tel" ng-maxlength="20" ng-model="formParams.tel" required ng-class="{'input-error': formValidation && multiStepForm.tel.$error.required}" placeholder="Phone Number">
                        <span ng-show="multiStepForm.tel.$error.maxlength">
                            Limit Reached
                        </span>
                    </li>
                </ul>
            </div>
            <div class="text-center">
            <button type="button" class="btn black-btn" ng-click="back('')">Back</button>
            <button type="button" class="btn default-btn" ng-click="submitForm()">Send</button>
            </div>
            </div>
            <div class="animate-switch" ng-switch-when="stage2">
            <div class="form-group">
                <label for="ta-body">Message Body:</label>
                <textarea class="form-control" rows="5" id="ta-body" ng-model="formParams.messageBody"></textarea>
            </div>
            <button type="button" class="btn btn-info" ng-click="back('stage1')">Back</button>
            <button type="button" class="btn btn-primary" ng-click="next('stage3')">Next</button>
            </div>
            <div class="animate-switch" ng-switch-when="stage3">
            <h3>Summary</h3>
            <p>First name: {{formParams.firstName}}</p>
            <p>Last name: {{formParams.lastName}}</p>
            <p>Email: {{formParams.email}}</p>
            <p>Message Body: {{formParams.messageBody}}</p>
            <button type="button" class="btn btn-info" ng-click="back('stage2')">Back</button>
            <button type="button" class="btn btn-warning" ng-click="submitForm()">Submit</button>
            </div>
            <div class="animate-switch" ng-switch-when="success">
            <div class="success-wrap">
                <h2 class="confirmation-text">Thank you</h2>
                <p>Your message has been sent.<br>You should receive a confirmation email.</p>
                <div><button type="button" class="btn btn-success" ng-click="reset()" >Send Another</button></div>
            </div>
            </div>
            <div class="animate-switch" ng-switch-when="error" >
            <div class="error-wrap">
                <h2 class="confirmation-text">Error</h2>
                <p>There was an error when attempting to submit your request.<br>Please try again later.</p>
                <p><strong>*This will always error until a web service URL is set.*</strong></p>
                <div><button type="button" class="btn btn-danger" ng-click="reset()" >Try again</button></div>
            </div>
            </div>
        </div>
        </form>
    </div>
    