/* .default-btn {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 8px 25px 9px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
    background: #EC1C23;
}
.black-btn {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 8px 25px 9px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
    background: #000;
} */
