<app-header></app-header>

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(/assets/img/slider/laptop820.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="slide-content-wrapper">
                                <div class="slide-content text-center">
                                    <h2>1. TAKE YOUR FREE LESSON </h2>
                                    <p>One lesson is 25 minutes and is worth $50 dollars. Our method is fun, unique, and will create passion for new languages.</p>
                                    <a class="default-btn" routerLink="/requestmodal" data-toggle="modal" data-target="#theModal">Schedule a Free Lesson</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slider Content -->
        </div>
    </div>
</section>
<!-- Background Area End -->

<!-- About Start -->
<div class="about-area pt-150 pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>2. JOIN <span>OUR COMMUNITY</span></h2>
                    <p>You can learn at your own pace for all for free. Sign up using the Invite Code given to you during your Free Lesson. You can meet people around the world studying English and share a journey with them.</p>
                    <p class="hidden-sm">We have a variety of videos, assignments, coursework and chatrooms designed for you to explore a love of language and exploration.</p>
                    <a class="default-btn" routerLink="/about">JOIN THE COMMUNITY</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="/assets/img/about/about.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="/assets/img/icon/section1.png" alt="section-title">
                    <h2>3. REGISTER FOR YOUR LEVEL</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a routerLink="/beginner"><img src="/assets/img/course/princess.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a routerLink="/beginner">BEGINNER ENGLISH</a></h3>
                        <p>An exciting, simple, and fun new way to learn with a focus on a connected digital world where English is used everywhere. </p>
                        <a class="default-btn" routerLink="/beginner">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a routerLink="/intermediate"><img src="/assets/img/course/social.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a routerLink="/intermediate">SOCIAL ENGLISH</a></h3>
                        <p>Gain confidence by talking and holding full conversations in English while we teach you the sot skills important in America.</p>
                        <a class="default-btn" routerLink="/intermediate">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a routerLink="/advanced"><img src="/assets/img/course/business.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a routerLink="/advanced">BUSINESS ENGLISH</a></h3>
                        <p>Master all the supporting attributes to language such as legal communications, advertising, Agile teamwork, and poetic prose.</p>
                        <a class="default-btn" routerLink="/advanced">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>4. WATCH THE INTRODUCTION VIDEO</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=to6Ghf8UL7o">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>LATEST NEWS</h3>
                    <div class="notice-left">
                        <div class="single-notice-left mb-23 pb-20">
                            <h4>5, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left hidden-sm mb-23 pb-20">
                            <h4>4, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left pb-70">
                            <h4>3, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left mb-23 pb-20">
                            <h4>5, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left hidden-sm mb-23 pb-20">
                            <h4>4, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left pb-70">
                            <h4>3, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
             <div class="col-xs-12">
                <div class="section-title">
                    <img src="/assets/img/icon/section.png" alt="section-title">
                    <h2>5. LEARN THE LINGO</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-event mb-35">
                    <div class="event-img">
                        <a routerLink="/event-details"><img src="/assets/img/event/event1.jpg" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>20 June 2017</h3>
                        <h4><a routerLink="/event-details">ADVANCE PHP WORKSHOP</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                            <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" routerLink="/event-details">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event hidden-sm hidden-xs">
                    <div class="event-img">
                        <a routerLink="/event-details"><img src="/assets/img/event/event3.jpg" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>16 June 2017</h3>
                        <h4><a routerLink="/event-details">learning english history</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                            <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" routerLink="/event-details">join now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-event mb-35">
                    <div class="event-img">
                        <a routerLink="/event-details"><img src="/assets/img/event/event2.jpg" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>18 June 2017</h3>
                        <h4><a routerLink="/event-details">DIGITAL MARKETING ANALYSIS</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                            <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" routerLink="/event-details">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event hidden-sm hidden-xs">
                    <div class="event-img">
                        <a routerLink="/event-details"><img src="/assets/img/event/event3.jpg" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>14 June 2017</h3>
                        <h4><a routerLink="/event-details">UI & UX DESIGNER MEETUP</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                            <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" routerLink="/event-details">join now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="/assets/img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="/assets/img/blog/blog1.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a routerLink="/blog-details"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a routerLink="/blog-details">I must explain to you how all this a mistaken idea </a></h2>
                            <a routerLink="/blog-details">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="/assets/img/blog/blog2.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a routerLink="/blog-details"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a routerLink="/blog-details">I must explain to you how all this a mistaken idea </a></h2>
                            <a routerLink="/blog-details">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="/assets/img/blog/blog3.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a routerLink="/blog-details"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a routerLink="/blog-details">I must explain to you how all this a mistaken idea </a></h2>
                            <a routerLink="/blog-details">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>Subscribe to Our Newsletter</h2>
                    <p>Excellent education tips and news for American-Style English</p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="https://taolearning.us3.list-manage.com/subscribe/post?u=b9ba2bf94a52e703daf076861&amp;id=cb8a7b1c52" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_b9ba2bf94a52e703daf076861_cb8a7b1c52" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>Subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
<div id="theModal"  tabindex="-1" role="dialog" class="modal fade text-center">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
